.dropbtn {
  border: none;
  cursor: pointer;
}

.custom-dropdown{
  background-color:$penguin-white-color;
  color: $penguin-black-color;
  padding: .6rem;
  margin: 1rem 0px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropbtn:hover, .dropbtn:focus {
  background-color:$penguin-white-color;
}
.dropdown-icon{
  width: 10px;
  height: 10px;
  margin: 5px;
  display: flex;
  align-items: center;
  .dropdown-svg{
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    transform: rotate(270deg);
  }
}

#myInput {
  box-sizing: border-box;
  background-image: url('../../assets/images/icons/search-solid.svg');
  background-position: 12px 50%;
  background-size: 1rem;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid $penguin-white-color;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}


.contain-list-search{
  padding: .45rem;
  .drop-down-item-list{
    font-family: $penguin-fonts;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.125em;
    display: block;
    width: auto;
    padding: .45rem 0.45px;
    border-width: 0px 0px 1px;
    border-top-style: initial;
    border-right-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-image: initial;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    cursor: pointer;
    transition: color 0.4s ease-in-out 0s, border-color 0.4s ease-in-out 0s;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}