.button{
  font-family: $penguin-fonts, sans-serif;
  display: flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  transition: all 250ms ease 0s;
  user-select: none;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  border: 0px;
}