@font-face {
  font-family: $penguin-fonts;
  font-style: normal;
  font-weight: bolder;
  src: url("assets/fonts/copyfonts.com_bau-regular.ttf") format("truetype");
  font-display: block;
}
@font-face {
  font-family: $penguin-fonts;
  font-style: normal;
  font-weight: bold;
  src: url("assets/fonts/copyfonts.com_bau-regular.ttf") format("truetype");
  font-display: block;
}
@font-face {
  font-family: $penguin-fonts;
  font-style: normal;
  font-weight: lighter;
  src: url("assets/fonts/copyfonts.com_bau-regular.ttf") format("truetype");
  font-display: block;
}
@font-face {
  font-family: $penguin-fonts;
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/copyfonts.com_bau-regular.ttf") format("truetype");
  font-display: block;
}
@font-face {
  font-family: $penguin-fonts;
  font-style: italic;
  font-weight: normal;
  src: url("assets/fonts/copyfonts.com_bau-regular.ttf") format("truetype");
  font-display: block;
}