$penguin-fonts:"FF Bau Regular";
$penguin-green-color:rgb(75, 85, 72);
$penguin-white-color:rgb(252, 252, 249);
$penguin-cream-color:hsl(135, 7%, 89%);
$penguin-light-cream-color:#f5f5f4;
$penguin-black-color:#000;
$penguin-deep-black-color:rgb(41, 41, 41);
$background-dark:rgba(6, 6, 6, 0.6);
$white: #ffffff;
$penguin-light-grey-color:lightgrey;
$penguin-grey-color:grey;
$loader-image:linear-gradient(90deg, rgba(lightgrey, 0) 0, rgba(lightgrey, .8) 50%, rgba(lightgrey, 0) 100%);