.navigation-container{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: 64px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: 0rem;
  background-color:$penguin-light-cream-color;
  margin-right: 0rem;
  padding-top: 0.5rem;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(41, 41, 41);
  border-top-color: rgb(41, 41, 41);
  border-right-color: rgb(41, 41, 41);
  border-left-color: rgb(41, 41, 41);
  .image_container{
    display: inline-block;
    width: 163px;
    height: 44px;
    margin-right: 4rem;
    .image_logo{
      width: inherit;
      height: inherit;
      object-fit: contain;
    }
  }

}

.cart-container{
  width: 28px;
  height: 28px;
  display: flex;
  font-size: 23px;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  margin-right: 1rem;
}

.cart-icon{
  width: inherit;
  height: inherit;
}