.navigation-container{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: 64px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: 0rem;
  background-color:$penguin-light-cream-color;
  margin-right: 0rem;
  padding-top: 0.5rem;
  color: $penguin-black-color;
  border-top-color: $penguin-deep-black-color;
  border-right-color: $penguin-deep-black-color;
  border-left-color: $penguin-deep-black-color;
  .image_container{
    display: inline-block;
    width: 163px;
    height: 44px;
    margin-right: 4rem;
    .image_logo{
      width: inherit;
      height: inherit;
      object-fit: contain;
    }
  }

}

.header-main-navigation-container{
  position:relative;
  .navigate-holder{
    top: 0rem;
    width: 100%;
    position: fixed;
    background-color: initial;
    z-index: 1;
    box-shadow: 0 2px 3px -3px $penguin-grey-color;
  }
}



.header-main-left{width: 50%;}
.header-main-right{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cart-container{
  width: 28px;
  height: 28px;
  display: flex;
  font-size: 23px;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  margin-right: 6rem;
  .cart-number{
    font-size: 25px;
    line-height: 17px;
    margin-right: 0rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    position: relative;
    top: -19px;
  }
}

.account{
  font-size: 14px;
  line-height: 17px;
  margin-right: 0rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.cart-icon{
  width: inherit;
  height: inherit;
}