.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-dark;
    display: table;
    transition: opacity 0.3s ease;
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
    position: relative;
  }
  .close-button-x{
    cursor: pointer;
    padding: 10px;
  }
  
  .modal-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: space-between;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    max-width: 600px;
    height: 100vh;
    overflow-y: auto;
    margin: 0px auto;
    padding:1rem;
    background-color: $penguin-cream-color;
    border-radius: 4px;
    transition: all 0.3s ease;
    .modal-header{
      .head-main{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        max-width: inherit;
        width: 100%;
        .btn-wrapper{
          width: 40%;
          .btn-back{
            width: 20px;
            height: 20px;
            padding: 1rem;
            border-radius: 100%;
            margin: 5px;
          }
          .arrow-svg{
            flex-shrink: 0;
            width: 1em;
            height: 1em;
            color: currentcolor;
            display: inline-block;
            vertical-align: middle;
            font-size: 0.75rem;
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
        .your-cart-text{
          width: 60%;
        }
      }
    }
  }



  .title-card-main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .image-container{
    width: 100%;
    max-width: 200px;
    min-height: 10rem;
    .card-image-card-component{
      width: inherit;
      height: 150px;
      max-width: 88px;
      object-fit: contain;
    }
  }


  .btn-container-main-footer{
    width: 100%;
    padding: 1rem 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .modal-default-button-subscription{
      width: inherit;
      padding: inherit;
      margin: 5px 0px;
      color: $penguin-green-color;
      border: solid 1px $penguin-green-color;
    }
    .modal-default-button-checkout{
      width: inherit;
      padding: inherit;
      margin: 5px 0px;
      background-color: $penguin-green-color;
      color:$penguin-white-color ;
    }
  }
  

  .side-inner-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-weight: bold;
    padding: 6px 10px;
    border: solid 1px #e6e6e6;
    cursor: pointer;
  }

  .footer-card-main-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .btn-container{
      width: 50%;
    }
  }
  
  .modal-header h3 {
    margin-top: 0;
  }
  
  .modal-body {
    margin: 20px 0;
    .main{
      min-height: 110px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .item-left{
        min-width: 60%;
        height: 100%;
        background-color: red;
      }
      .item-right{
        min-width: 40%;
        height: 100%;
        background-color: blue;
      }
    }
  }
  .modal-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    position: relative;
    height: 100%;
    .modal-footer-desc{
      width: inherit;
      height: inherit;
      position: absolute;
      bottom: 0px;
    }
  }
  
  
  /*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */
  
  .modal-enter {
    opacity: 0;
  }
  
  .modal-leave-active {
    opacity: 0;
  }
  
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }


  // ---put custom style here
  .sidebar-card-layer-contain{
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .45rem 1rem;
    margin: 1rem 0px;
    min-height: 12rem;
  }